argcomplete==3.3.0
blinker==1.8.1
build==1.2.1
click==8.1.7
colorama==0.4.6
distlib==0.3.8
filelock==3.13.1
Flask==3.0.3
gvsbuild==2024.4.1
itsdangerous==2.2.0
Jinja2==3.1.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
meson==1.4.0
ninja==1.11.1.1
packaging==24.0
pipx==1.5.0
platformdirs==4.2.0
psycopg2==2.9.9
Pygments==2.17.2
pyproject_hooks==1.0.0
python-dotenv==1.0.1
rich==13.7.1
setuptools==69.5.1
shellingham==1.5.4
typer==0.12.3
typing_extensions==4.11.0
userpath==1.9.2
virtualenv==20.25.1
Werkzeug==3.0.2
